frigate:
  config: |
    auth:
      enabled: false
    mqtt:
      host: mqtt-mosquitto.mqtt.svc.cluster.local
      port: 1883
      topic_prefix: frigate
      client_id: frigate
    
    snapshots:
      enabled: True
      retain:
        default: 30
    
    detectors:
      openvino1:
        type: openvino
        device: GPU
    model:
      width: 300
      height: 300
      input_tensor: nhwc
      input_pixel_format: bgr
      path: /openvino-model/ssdlite_mobilenet_v2.xml
      labelmap_path: /openvino-model/coco_91cl_bkgr.txt
    
    record:
      enabled: true
      retain:
        days: 7
      events:
        retain:
          default: 30
    
    cameras:
      doorbell:
        ffmpeg:
          hwaccel_args: preset-vaapi
          inputs:
            - path: rtsp://admin:N3C-iAJf8g_ZaQZwEEY@@192.168.178.93:554/h264Preview_01_main
              roles:
                - record
                - detect
        detect:
          width: 1280
          height: 720
          fps: 5
        objects:
          track:
            - person
        zones:
          Bikes:
            coordinates: 
              0.987,0.719,0.993,0.373,0.831,0.396,0.835,0.548,0.629,0.571,0.61,0.774,0.879,0.935
            loitering_time: 5
            objects: person
            inertia: 3
          Entrance:
            coordinates: 0.4,0.812,0.602,0.77,0.98,0.993,0.449,0.991
            loitering_time: 3
            objects: person
      garten:
        ffmpeg:
          hwaccel_args: preset-vaapi
          inputs:
            - path: rtsp://admin:N3C-iAJf8g_ZaQZwEEY@@192.168.178.90:554/h264Preview_01_main
              roles:
                - detect
                - record
        detect:
          width: 1280
          height: 720
          fps: 5
        objects:
          track:
            - person
    
        zones:
          Rasen:
            coordinates:
              0.038,0.253,0.216,0.209,0.208,0.314,0.288,0.304,0.297,0.128,0.682,0.162,0.65,0.451,0.16,0.673,0.115,0.543,0.037,0.57
            loitering_time: 0
            inertia: 3
            objects: person
          Terrasse:
            coordinates: 0.16,0.689,0.65,0.457,0.989,0.68,0.914,0.999,0.048,0.999,0.022,0.595,0.117,0.564
            inertia: 3
            loitering_time: 0
            objects: person
        review:
          alerts:
            required_zones: Terrasse
          detections:
            required_zones:
              - Rasen
              - Terrasse

  logger:
    default: info
    logs:
      frigate.detectors.plugins.openvino: debug
      frigate.detectors.openvino: debug

  securityContext:
    privileged: true

  extraVolumes:
    - name: video-dev
      hostPath:
        path: /dev/dri

  extraVolumeMounts:
    - name: video-dev
      mountPath: /dev/dri

  persistence:
    config:
      enabled: true
      size: 1Gi
    media:
      enabled: true
      size: 1536Gi
      accessMode: ReadWriteOnce

    cache:
      enabled: true
      type: emptyDir
      medium: Memory
      sizeLimit: 1Gi
      mountPath: /dev/shm

  service:
    type: NodePort
    port: 5000
    nodePort: null
